@model IEnumerable<BikeRentalWebApp.Models.RentalPointViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>RentalPointList</h1>

<p>
    <a class=" btn btn-primary" asp-controller="RentalPoints" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numer)
            </td>
            <td>
                   <a asp-controller="RentalPoints" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="RentalPoints" asp-action="Delete" asp-route-id="@item.Id">Delete</a> |

                    <a asp-controller="RentalPoints" asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
